<div class="page-header">
  <h1>
    Photos
    <a href="/photos/new" class="btn btn-lg btn-success">New Photo</a>
  </h1>
</div>

<% @photos.each do |photo| %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class = "panel panel-default">
      <div class = "panel-heading">
        <h3 class="panel-title">
          <a href= "/users/<%= photo.id %>"><%= photo.user.username %></a>
          <small><%= time_ago_in_words(photo.created_at)%></small>
          </h3>
      </div>
      <div class = "panel-body">
        <img src="<%=photo.image%>"class="img-responsive">
        <ul class="media-list">
        <i class="fa fa-heart">




        </i>


        <%photo.comments.each do |comment|%>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <%=comment.user.username%> <small><%=time_ago_in_words(comment.created_at)%></small>
              </h6>
              <%=comment.body%>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
   <% end %>
</div>
